/*html{
	width:320px;
}*/
html,body,div,ul,li,p,img,span{margin:0;padding:0;}
/*html{
	background:url('../img/test.png') no-repeat 320px -65px #f7f7f7;
	height:2000px;
}*/

body{
	/*width:320px;*/
	-webkit-user-select: none;
	background:url('../img/body_bj.png') #e0ded9;
	color:#595959;
	font:14px/1.4 helvetica,arial,sans-serif;
	-webkit-background-size:67px 85px;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);/*取消可点处点击后的背景颜色*/
	min-height:100%;
}

img{border:0;}
ul,li{list-style-type:none;}


.container{
	position:relative;
	margin:10px 5px 0;
	z-index:10;
}

.box_1{
	background-color:#fff;
	border:#c0bfbc solid 1px;
	border-radius:4px;
	overflow:hidden;
}


.box_1_hover{
	background-color:#dbdbdb!important;
	border:#c5c5c5 solid 1px!important;
}

.box_1_hover:hover{
	background-color:#dbdbdb!important;
	border:#c5c5c5 solid 1px!important;
}

.box_3{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f7f7), to(#e6e3e3));
	border:#c2c2c2 solid 1px;
	border-radius:4px;
	overflow:hidden;
}

/*.box_4{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#7ae26e), to(#13a401), color-stop(0.1,#33d01f));
	border:#0b8600 solid 1px;
	border-radius:4px;
	overflow:hidden;
}*/
.box_4 .tel_style a{
	font-size:16px;
}
.box_4 a{
	text-align:center;
	padding-left:0!important;
}
.box_4 em{
	font-style:normal;
}
.box_4 span{
	background:no-repeat 0 1px;
	-webkit-background-size:18px 18px;
	padding-left:23px;
	margin:auto;
}
.button_1{
	text-align:center;
}

.mt-5{
	margin-top:5px;
}
.mt-10{
	margin-top:10px!important;
}
.min_hei_1{
	min-height:30px;
}
.pd-5{
	padding:5px 8px;
}

/*颜色配置 begin*/
.red{
	/*font:700 14px/1 'Tahoma';*/
	/*font:700 15px/1 'arial';*/
	/*font:700 14px/1 '宋体';*/
	color:#fe0101;
}
.blue{
	color:#4174d9;
}
.blue a,.blue a:hover{
	color:#4174d9;
	text-decoration:none;
}
.blue_a a,.blue_a a:hover{
	color:#4174d9;
	text-decoration:none;
}
.back_a a,.back_a a:hover{
	color:#3b3b3b;
	font-weight:700;
	text-decoration:none;
}
.light_black{
	color:#6a6a6a;
}
.com_num_style{
	font-size:16px;
	color:#6a6a6a;
}
.color_1{
	color:#333;
}
.color_1 a{
	color:#333;
	text-decoration:none;
}
.color_1 a:hover{
	color:#333;
}
.color_2{
	color:#da6702;
}
.tel_style,.tel_style a{
	color:#549c1e!important;
}
#telCon .tel_style{
	background-image:url("../img/tel_btn_1.png");
}

/*颜色配置 end*/

/*字体大小配置 begin*/
.font_1{
	font-size:12px;
}
.font_2{
	font-size:16px;
}
.font_3{
	font-size:15px;
}
.font_4{
	font-size:14px;
}
/*字体大小配置 end*/

.center{
	text-align:center;
}


/*分割线样式 begin*/
.splitLine{
	clear:both!important;
	float:none!important;
	height:1px;
	background:#ccc;
	margin:6px 0 5px!important;
}
.splitLine2{
	margin:15px 1px 0;
	border-top:#cec9c0 solid 1px;
	border-bottom:#f1efec solid 1px;
}
/*分割线样式 end*/

.list{
	overflow:hidden;
}

.h3{
	font-size:14px;
	font-weight:100;
	color:#666;
	margin:0 0 2px;
	text-indent:10px;
}


.list .sty1{
	color:#00c;
	font-size:14px;
	line-height:16px;
	margin-top:2px;
}
.list .sty1 a,.list .sty1 a:hover{
	color:#00c;
}

/*基本信息样式 begin*/
.base{
	width:auto;
	min-height:75px;
	padding-bottom:9px;
	margin-left:10px;
}
.base li{
	margin-top:9px;
	line-height:1em;
	margin-left:0;
	color:#d7d7d7;
	text-shadow:black 1px 1px 2px; 
}
.base .name{
	color:#fff;
	height:20px;
	font-size:20px;
	margin-top:14px;
	margin-right:30px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.base .address{
	padding-bottom:8px;
	padding-right:23px;
	margin-bottom:11px;
	float:left;
	margin-top:5px;
	border-bottom:#aeaba7 solid 1px;
}

.base .st1{
	clear:left;
	height:16px;
}
.base .st2,.base .st4{
	float:left;
	margin-right:12px;
	margin-top:5px;
}

.base .st3{
	clear:both;
	margin-top:0;
	padding-top:2px;
}
.star{
	display:inline-block;
	width:68px;
	height:12px;
	margin-right:5px;
	overflow:hidden;	
}
.star b{
	display:block;
	height:12px;
}
.base .num{
	position:relative;
	top:-1px;
}
.base .comm_num{
	margin-left:9px;
}
/*基本信息样式 end*/

/*商户信息 begin*/

.shop li .shop_title{
	position:absolute;
	font-weight:100;
	color:#000;
	margin-left:-78px;
}
.shop li .shop_title_letter_spacing_2{
	letter-spacing : 16px;
}
.shop li .shop_title_letter_spacing_3{
	letter-spacing : 5px;
}
.shop li.btn_con{
	margin-top:2px;
}
.shop li{
    padding-right:0px;
}
.shop li .pd-5 {
    padding: 5px 8px 5px 8px;
}
.shop li.pd-13{
    padding-right:13px;
}
.shop li.pd-13 .bottom_nav{
	margin-right:-13px!important;
}
.shop li .pd-16{
    padding: 5px 16px 5px 8px;
    background:url("../img/goto_v3.png") no-repeat;
    -webkit-background-size:7px 12px;
    background-position:right center;
    background-origin:content;
}
.rich_more{
	margin-top:0!important;
	overflow:hidden;
	text-align:left;
}
.rich_more a{
	padding:1px 0 1px!important;
}
/*商户信息 end*/



/*优惠信息 begin*/
.container .con1{
	padding-bottom:0;
	margin-top:0;
}
.con1 li{
	height:37px;
	line-height:39px;
	margin:0;
	overflow:hidden;
	padding:0 10px 0 15px;
}
.con1 li .num_con{
	margin-top:6px;
}
.con1 li a{
	padding-left:30px;
}


.con2 li{
	height:37px;
	line-height:39px;
	margin:0;
	overflow:hidden;
}

.con2 li a{
	display:block;
}


.goto_icon a{
	display:block;
	min-height:20px;
	padding:0px 10px 0 0;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

.goto_icon_1{
	display:inline-block;
	width:6px;
	height:10px;
	margin-left:5px;
	margin-bottom:-1px;
	background:url("../img/goto_1.png") no-repeat 0 0;
	background-size:6px 10px;
	-webkit-background-size:6px 10px
}
/*优惠信息 end*/

/*拨打电话 begin*/
.con1 .tel a{
	display:block;
	overflow:hidden;
	padding-left:28px;
}
.tel span{
	padding:10px 0;
}
/*拨打电话 end*/

/*分享给好友 begin*/
.shell{
	
}
/*分享给好友 end*/

/*时间*/
.time_btn{
	padding-left:30px;
}

/*大家印象*/
.impression{
	padding:10px 10px 4px;
}
.impression li{
	margin:0 6px 6px 0;
	float:left;
}
.impression li a{
	border-radius:4px;
}
.impression li .button_box{
	float:left;
	padding:5px 7px 5px 8px;
	border:1px solid;
	text-align:left;
	font-size:13px;
}
.impression li .good{
	background:#ffeccd;
	color:#8e531e;
	border-color:#ecd7b5;
}
.impression li .good span{
	position:relative;
	font-size:12px;
	margin-left:4px;
    color: #c89a72;
}

.impression li .bad{
	background:#f4f4f4;
	color:#88775f;
	border-color:#dedad3;
}
.impression li .bad span{
	position:relative;
	font-size:12px;
	margin-left:4px;
    color: #b1a596;
}

/*大家印象*/

/*评论信息 begin*/
.comment{
	padding:9px;
	padding-bottom:0;
}
.comment .bottom_nav{
	margin-left:-9px!important;
	margin-right:-9px!important;
}
.comment .back_a a{
	font-weight:100;
}
.comment .back_a a:hover{
	font-weight:100;
}
.comment .goto_icon a{
	padding-top:0;
}
.comment li.btn_con{
	margin-top:5px;
	padding-top:5px;
	overflow:hidden;
}
.comment li.first{
	border-top:none;
	padding-top:0;
}
.comment li.commCom1{
	margin-top:5px;
}
.comment .comm_info{
	display:block;
}
.comment .lis_from{
	margin:-1px 10px 0 20px;
	text-align:right;
	font-size:14px;
}

/*评论信息 end*/

/*添加评论入口*/
	.comment-btn{
		border: 1px solid #ccc;
		line-height: 44px;
		padding-left: 0px;
		margin-top: -11px;
	}


/*查看更多 begin*/
.more li{
	margin-top:-1px;
}
.more .log a{
	display:block;
	padding-left:46px;
	height:100%;
}
.more li div{
	border-top:1px solid #ddd8d1;
	border-bottom:none!important;
}

.log_icon{
	background:no-repeat 15px center;
	background-size:25px 25px;
	-webkit-background-size:25px 25px;
}



/*查看更多 end*/

li.btn_con{
	margin-top:5px;
}
.btn_con .rig_btn_con{
	display:inline-block;
	width:75px;
	height:10px;
	
}
.btn_con .rig_btn{
	position:relative;
	background:#e7e7e7;
	float:right;
	top:-18px;
	/*right:10px;*/
	width:64px;
	height:0;
	text-align:right;
	line-height:10px;
}
.btn_con .rig_btn b{
	display:inline-block;
	width:15px;
	height:13px;
	font-size:20px;
	-webkit-transform: rotate(90deg);
}




/*评论页面css begin*/

	a{
		text-decoration:none;
		}
		
	.bigfont{
		color: #3b3b3b;
		font-weight: 700;
	}	
	
.commentCon .log_icon{
	margin-left:16px;
	padding-left:31px;
	height:35px;
}
.comment .lis_from_1{
	text-align:center;
}


	.comment-btn{
		border: 1px solid #ccc;
		line-height: 44px;
		margin-top: 1px;
	}
	.comment-btn .left-icon{
		position: relative;
		top: 4px;
	}
	.comment-btn .text{
		position: relative;
		left: 6px;
	}
	.comment-btn .right-icon{
		position: relative;
		float: right;
		top: 0px;
		right: 8px;
	}

	.comment .comment-from{
		margin-top: 3px;
		margin-bottom: 10px; 
	}
	.comment .comment-from .icon{
		position: relative;
		top: 7px;
	}
	.comment .comment-from .text{
		position: relative;
		left: -2px;
	}
	.comment-detail{
		border: 1px solid #ccc;
		padding: 0px 8px;
		margin-top: -1px;
		margin-bottom: 0px;
	}

	.comment-detail .title {
		margin-bottom: -32px;
	}
	.comment-detail .title .icon{
		position: relative;
		top: 10px;
		float: left;
	}
	.comment-detail .title .name{
		padding: 10px 0px 1px 20px;
		margin-left: 35px;
	}
	.comment-detail .title .oneline {
		margin-left: 53px;
		padding-bottom: 24px;
		padding-top: 2px;
	}

	.comment-detail .title .score{
		position: relative;
		font-size: 14px;
		color: #ccc;
		top: 1px;
	}
	.comment-detail .title .fenge{
		position: relative;
		font-size: 12px;
		color: #666;
		margin-left: 3px;
	}
	.comment-detail .title .money{
		font-size: 12px;
		color: #b81717;
	}
	.comment-detail .info{
		display:block;
		margin-top: 15px;
		color: #707070;
		line-height: 20px;
	}
	.comment-detail .info .xiala{
		width: 12px;
		height: 18px;
		float: right;
		position: relative;
		top: 5px;
		margin-right: 2px;
		background: url("../img/comm_down_icon.png") no-repeat;
		background-size: 11px 7px;
		-webkit-background-size: 11px 7px;
	}
	.comment-detail .info .shangla{
		width: 12px;
		height: 18px;
		float: right;
		position: relative;
		top: 5px;
		margin-right: 2px;
		background: url("../img/comm_up_icon.png") no-repeat;
		background-size: 11px 7px;
		-webkit-background-size: 11px 7px;
	}
	.comment-detail .info span b{
		background-color:yellow;
	}
	
	.comment-detail .subSrc{
		float:left;
		text-align: left;
		font-size: 12px;
		color: #ccc;
		margin-right: 2px;
		margin-bottom:10px;
	}
	.comment-detail .date{
		float:right;
		text-align: right;
		font-size: 12px;
		color: #ccc;
		margin-right: 2px;
		margin-bottom:10px;
	}
	
	.comment-footer{
		border: 1px solid #ccc;
		height: 46px;
		line-height: 46px;
		font-size: 16px;
		text-align: center;
		margin-top: -1px;
	}
	.comment-footer a{
		color: #666;
	}
	.hidden{
		display: none;
	}

.noCommInfo{
	font-size: 16px;
	color: #4c4c4c;
	margin: 14px 10px 0 15px;
	text-align: center;
}



/*评论页面css end*/

/*大家印象*/ 
.bigfont_red_center{
		color: #df0808;
		text-align:center;
		font-weight: 700;
}
.impression_index_container{
	margin-top:-10px;
	overflow:hidden;
}
.impression_index_container .comment_from{
	line-height:30px;
}
.impression_index_container .comment_detail_container{
	border:1px solid;
	border-bottom:0px;
	overflow:hidden;
	border-color:#cccccc;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	background-color:#fff;
}
.impression_index_container .comment_detail_container .impression_detail{
	padding-bottom:5px;
	margin-top:-1px;
}

.box_2{
    margin:0 4px 0 4px;
    background-color:#fff;
	border-bottom:#d0d0d0 dashed 1px;
	overflow:hidden;
}
.box_bottom_dashed{
    margin:0 4px 0 4px;
    background-color:#fff;
	border-top:#d0d0d0 dashed 1px;
	overflow:hidden;
}

.impression_detail .title .name_impression{
	padding: 10px 0px 0px 	0px;
	font-size:16px;
	margin-left:8px;
	color:#333333;
}
.impression_detail .title .oneline_impression {
    margin-left:7px;
    margin-top:1px;
}

.impression_detail .title .score_impression{
	position: relative;
	font-size: 14px;
	color: #595959;
	margin-left:-6px;
	top: -2px;
}

.impression_detail .info{
	margin-right:10px;
	margin-left:5px;
	color: #707070;
	line-height: 20px;
}
.impression_detail .info .xiala{
	width: 12px;
	height: 18px;
	float: right;
	position: relative;
	top: 5px;
	margin-right: 5px;
	background: url("../img/comm_down_icon.png") no-repeat;
	background-size: 11px 7px;
	-webkit-background-size: 11px 7px;
}
.impression_detail .info .shangla{
	width: 12px;
	height: 18px;
	float: right;
	position: relative;
	top: 5px;
	margin-right: 5px;
	background: url("../img/comm_up_icon.png") no-repeat;
	background-size: 11px 7px;
	-webkit-background-size: 11px 7px;
}
.impression_detail .info span b{
	background-color:yellow;
}

.impression_detail .subSrc{
	float:left;
	text-align: left;
	font-size: 12px;
	color: #ccc;
	margin-left:4px;
}
.impression_detail .date{
	float:right;
	text-align: right;
	font-size: 12px;
	color: #ccc;
	margin-right: 7px;
}
.impression_index_container .comment_footer{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	border-color:#cccccc;
	margin-left:5px;
	margin-right:5px;
    margin-bottom:10px;
    border: 1px solid #ccc;
	background-color:#fff;
}
.impression_index_container .comment_footer a{
		color: #666;
}

#comment_footer_loading span{
    padding:9px;
    padding-top:2px;
    background:url("../img/loading_imp.gif") no-repeat;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
}

/*大家印象 end*/

/*优惠页面css begin*/
.saleMore .sale_btn_con{
	width:100px;
	margin:auto auto 18px;
	cursor:pointer;
}
.saleMore .sale_btn{
	margin:7px auto 0;
	text-align:center;
	line-height:20px;
}
.sale_info_cont{
	position:relative;
}
/*优惠页面css end*/


/*ipad style begin*/
body.ipad{
	padding:8px 10px;
}
.ipad .tel a{
	background:none!important;
}
.ipad .splitLine{
	background:#d9d9d9;
}
/*ipad style end*/



.star{
	background:url("../img/star.png") 0 -12px;background-size:14px 24px;-webkit-background-size:14px 24px
}
.star b{
	background:url("../img/star.png") 0 0;background-size:14px 24px;-webkit-background-size:14px 24px
}

.list .seat_css{
	background:url("../img/seat.png") no-repeat 0 center;background-size:38px 44px;-webkit-background-size:38px 44px
}
.time_btn{
	padding-left:30px;background:url("../img/time_btn.jpg") no-repeat 0 2px;background-size:20px 20px;-webkit-background-size:20px 20px
}

.sale_box_con .box_input{
	background:url("../img/sale_input.png") no-repeat 0 0;
}
.sale_box_con .box_input_r{
	background:url("../img/sale_input_r.png") no-repeat right 0;
}
.pic_loading li{
	background:url("../img/loading_pic.png") no-repeat center center;background-size:60px 12px;-webkit-background-size:60px 12px;
}

.pic_continer li.error{
	background-image:url("../img/loading_pic_error.png");background-size:48px 12px;-webkit-background-size:48px 12px;
}

.goto_icon a{
	background:url("../img/goto_v3.png") no-repeat right 50%;background-size:7px 12px;-webkit-background-size:7px 12px
}
.con1 .tel{
	background:url("../img/tel_btn_v3.png") no-repeat 13px 10px;background-size:18px 18px;-webkit-background-size:18px 18px
}
.con1 .shop_icon{
	background-size:18px 18px;-webkit-background-size:18px 18px;
}
.con1 .tel_ota{
	background:none no-repeat 11px 6px;background-size:25px 25px;-webkit-background-size:25px 25px;
}
.shell{
	background:url("../img/shell_btn_v3.png") #fff no-repeat 15px 13px;background-size:19px 18px;-webkit-background-size:19px 18px
}
.correction{
	background:url("../img/correction.png") #fff no-repeat 18px 11px;background-size:20px 20px;-webkit-background-size:20px 20px
}

.list .group_css{
	background:url("../img/groupon.png") no-repeat 0 0;background-size:28px 28px!important;-webkit-background-size:28px 28px!important;
}

.num_con{
	position:absolute;
	top:3px;
	right:15px;
	font-size:14px;
	padding-right:5px;
	text-align:center;
	padding-left:5px;
	text-indent:0;
	line-height:20px;
	background:#f00;
	color:#fff;
}
.group_css .num_con{
	background:#ff7f0d;
	color:#fff;
}


.tool_con{}
.tool_con li{
	float:left;
	width:25%;
	text-align:center;
}
.tool_con li a{
	display:block;
	border-right:#d2d2d3 solid 1px;
	height:46px;
	line-height:68px;
	font-size:13px;
}
.tool_con .noborder a{
	border-right:0;
}
.tool_con .goto{	
	background:url('../img/tool_to_btn.png') no-repeat center 5px;
	background-size:21px 20px;
	-webkit-background-size:21px 20px;
}
.tool_con .gofrom{	
	background:url('../img/tool_from_btn.png') no-repeat center 5px;
	background-size:20px 20px;
	-webkit-background-size:20px 20px;
}
.tool_con .search{	
	background:url('../img/tool_search_btn.png') no-repeat center 5px;
	background-size:19px 20px;
	-webkit-background-size:19px 20px;
}
.tool_con .favorite{	
	background:url('../img/tool_favorite_btn.png') no-repeat center 5px;
	background-size:19px 19px;
	-webkit-background-size:19px 19px;
}
.tool_con .favorite_done{
	background-image:url('../img/tool_favorite_1_btn.png');
	
}
.write_icon2{
	display:inline-block;
	width:18px;
	height:18px;
	margin-right:5px;
	margin-bottom:-3px;
	background:url('../img/tool_write_btn.png') no-repeat 0 0;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
}
.write_icon{
	display:inline-block;
	width:15px;
	height:14px;
	margin-right:5px;
	margin-bottom:-2px;
	background:url('../img/write.png') no-repeat 0 0;
	background-size:15px 14px;
	-webkit-background-size:15px 14px;
}
.photo{
	display:inline-block;
	width:14px;
	height:14px;
	margin-right:5px;
	margin-bottom:-1px;
	background:url('../img/tool_photo_btn.png') no-repeat 0 2px;
	background-size:14px 14px;
	-webkit-background-size:14px 14px;
}
.photo_icon2{
	display:inline-block;
	width:17px;
	height:17px;
	margin-right:5px;
	margin-bottom:-2px;
	background:url('../img/tool_photo_btn.png') no-repeat 0 0;
	background-size:17px 17px;
	-webkit-background-size:17px 17px;
}


.con1 .addr{
	height:auto;
	line-height:20px;
	min-height:44px;
	background:url('../img/addr_icon.png') no-repeat 12px center;
	background-size:16px 23px;
	-webkit-background-size:16px 23px;
}
.con1 .addr a{
	margin-top:0;
	padding-left:25px;
	padding-top:12px;
	padding-bottom:11px;
	white-space:inherit;
	text-overflow:inherit;
	overflow:visible;
}

.block_title{
	width:auto;
	float:none;
	background:#f2f2f2;
	color:#3b3b3b;
	font-weight:700;
	height:40px;
	line-height:40px;
	font-size:18px;
	margin:0 0 6px;
	padding-left:5px;
}
.bottom_bt_con li{
	margin-bottom:19px;
}

.bottom_bt_con a{
	display:block;
	line-height:43px;
	text-indent:43px;
}
.splitLine1{
	height:1px;
	background:url('../img/line.png') repeat-x 0 0;
	background-size:250px 1px;
	-webkit-background-size:250px 1px;
	margin:7px 2px 7px!important;
}

.toolCont{
	margin-top:4px;
	margin-bottom:-21px;
}

.pic .block_title{
	margin-left:-5px;
}

.pic li{
	border:#ddd solid 1px;
	-webkit-box-shadow: 0 0 1px #f1f1f1;
	float:left;
	margin:9px 6px 7px 0;
}
.pic li:first-child{
	margin-left:9px;
}
.pic img{
	float:left;
	margin:1px;
}

.comment .block_title{
	margin-bottom:10px;
}
.comment .com_base{
	min-height:44px;
	position:relative;
	padding-left:55px;
	padding-top:2px;
}
.comment .com_base img{
	position:absolute;
	left:0;
	top:0;
	border:#ccc solid 1px;
	padding:2px;
}
.comment .com_username{
	font-size:16px;
	font-weight:700;
}
.comment .comm_price{
	font-size:12px;
}
.comment .comm_price em{
	color:#b81717;
	font-style:normal;
}
.comment .comm_cont{
	line-height:20px;
	margin-top:7px;
	margin-bottom:5px;
	overflow:hidden;
}
.comment .comm_time{
	text-align:right;
	color:#ccc;
}
.comment .showBtn, .comment .hiddenBtn{
	margin-bottom:0;
}
.comment .splitLine1{
	margin-bottom:10px!important;
}

.comment .comm_cont_down_com{
	padding:0 4px;
}
.comment .comm_cont_btn{
	float:right;
	width:15px;
	height:7px;
	overflow:hidden;
	margin-top:6px;
	background: url("../img/comm_down_icon.png") no-repeat;
	background-size:11px 7px;
	-webkit-background-size:11px 7px;
}
.comm_cont_all{
	
}
.comment .comm_cont_all .comm_cont_btn{
	background-image:url("../img/comm_up_icon.png")
}

.movie_nav_con{
	overflow:hidden;
}
.movie_nav{
	clear:both;
    height:36px;
    background:#e9e9e9;
}
.movie_nav li{
	color:#666;
	width:33%;
	line-height:35px;
	text-align:center;
	float:left;
	background:#e9e9e9;
}
.movie_nav li:last-child{
	width:34%;
}

.movie_nav li span{display:block;border-bottom:#ccc solid 1px;
}
.movie_nav li:last-child.hover span{border-left:1px solid #cccccc;}
.movie_nav li:first-child.hover span{border-right:1px solid #cccccc;}
.movie_nav li:nth-child(2).hover span{border-right:1px solid #cccccc;border-left:1px solid #cccccc;}

.movie_nav .today{
	/*border-radius:4px 0 0 0;*/
	
}

.movie_nav .hover span{
	background:#fff;
	color:#333;
    border-bottom:1px solid #fff;
}
.movieCon{background:#fff;margin:0 1px;border:1px solid #bebebe;border-top:none;}
.movieCon .mv_nothing{
    width:184px;height:135px;
	background:url('../img/nomovie.png') no-repeat 0 0;
	background-size:184pxx 135px;
	-webkit-background-size:184px 135px;
	text-align:center;
    margin:40px auto 50px auto;
}
.movie_pic_list{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#d0d0d0), color-stop(0.4,#fff), color-stop(0.8,#fefefe), color-stop(0.85,#fff), color-stop(0.9,#fff));
	overflow:hidden;
}
.movie_pic_list li{
	float:left;
	padding:8px 0;
	margin-right:5px;
}
.movie_pic_list img{
	border:#cfcfcf solid 1px;
	float:left;
}

.movie_info_list_con{
	position:relative;
	border-top:#ccc solid 1px;
}
.movie_info_list1{
	padding:8px 10px 8px;
}
.movie_info_list1 li{
	line-height:20px;
	font-size:12px;
	color:#333;
	overflow:hidden;
}
.movie_info_list1 span{
	color:#666;
}
.movie_info_list1 .mv_title{
	height:28px;
	line-height:28px;
	font-size:16px;	
}
.movie_info_list1 .mv_type{
	margin-left:10px;
}

.movie_info_list2{
	clear:both;
	overflow:hidden;
}
.movie_info_list2 li{
  
	width:50%;
	text-align:center;
	float:left;
}
.movie_info_list2 li.bookingBox{
    border-top:1px solid #eceae3;
    background:#fefef6;
    height:49px;
    line-height:49px;
	width:100%;
	text-align:center;
}
.movie_info_list2 li.bookingBox span{float:left;overflow:hidden;text-align:left;}
.movie_info_list2 li.bookingBox .time{width:68px;font-size:18px;text-indent:10px;color:#fe9e01;}
.movie_info_list2 li.bookingBox .lan{width:62px;margin-right:6px;}
.movie_info_list2 li.bookingBox .theater{width:40px;margin-right:6px;}
.movie_info_list2 li.bookingBox .price{width:40px;margin-right:6px;}
.movie_info_list2 li.bookingBox .btn{float:right;margin-right:8px;font-size:13px;margin-top:10px;height:26px;line-height:26px;width:64px;background:-webkit-gradient(linear, 0 0 ,0 100%,from(#feb001), to(#ff8202)); color:#ffffff;border-radius:3px;text-align:center;}

.movie_info_list2 li.bookingBox .gray_btn{float:right;margin-right:8px;font-size:13px;margin-top:10px;height:26px;line-height:26px;width:64px;color:#aca8a8;background:-webkit-gradient(linear, 0 0 ,0 100%,from(#f7f6f6), to(#f2f1f1));border-radius:3px;text-align:center;}
.movie_info_list2 li div{
    height:39px;
}

.movie_list_1{
	width:50%!important;
}
.movie_info_list2 .mv_lef_lin{
	overflow:hidden;
}
.movie_info_list2 span{
	text-align:left;
}
.movie_info_list2 .mv_lang{
	color:#666;
}
.movie_info_list_con .cur_movie_point{
	position:absolute;
	left:50%;
	top:-7px;
	width:10px;
	height:7px;
	margin-left:-5px;
	background:url('../img/cur_movie_bg.png') no-repeat 0 0;
	background-size:10px 7px;
	-webkit-background-size:10px 7px;
}

/*图片更多添加 begin*/
.pic .rich_more{
	margin-bottom:10px;
}
.pic .splitLine{
	margin-left:-5px!important;
}
/*图片更多添加 end*/


.movie_wrapper{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#d0d0d0), color-stop(0.4,#fff), color-stop(0.8,#fefefe), color-stop(0.85,#fff), color-stop(0.9,#fff));
	overflow:hidden;
}


.grouponCon{
	margin-top:10px!important;
}

.basicInfo{
	margin-top:0!important;
}

.noMoreStyle{
	padding-bottom:20px;
}
.noMoreStyle .name{
	margin-top:19px;
}

.saleCon a,.grouponCon a{
	padding-right:45px;
	position:relative;
}
.saleCon .num_con,.grouponCon .num_con{
	position:absolute;
	top:0;
	right:15px;
}

/*KTV 样式*/
#ktvCon{
}
.ktv_info *{
    margin:0;
    padding:0;
    color:black;
    background:inherit;
}
.ktv_info .ktv_menu{
    overflow:hidden;
    margin:0px;
    border:1px solid #acacac;
    border-radius:3px;
    z-index:100;
    background:-webkit-linear-gradient(top,#f6f4f0,#eeebe7); 
    position:relative;
}
.ktv_info .ktv_menu .menu_btn{
    float:left;
    position:relative;
    width:50%;
    overflow:hidden;

}
.ktv_info .ktv_menu .menu_btn .ktv_block{
    position:absolute;
    right:0px;
    top:-1px;
    height:42px;
    width:0px;
    border-right:1px solid #acacac;
    background:#acacac;
}
.ktv_info .ktv_menu .menu_btn select{
    margin-top:1px;
    width:100%;
    border-collapse:collapse;
    height:40px;
    padding-right:10px;
    -webkit-appearance:button;
    display:inline-block;
    padding-left:10px;
    border:0;
    font-size:15px;
    background:-webkit-linear-gradient(top,#f6f4f0,#eeebe7);   
    background:url("../img/ktv_select.png") no-repeat;
    background-position:right center;
    -webkit-background-origin:content;
    background-size:16px,16px;
	-webkit-background-size:16px,16px;
}



.ktv_info .content{
    margin-top:-2px;
    padding:0px 6px 12px 6px;
    border:1px solid #bfbebb;
    border-top:0;
    margin-left:6px;
    margin-right:6px;
    border-radius:3px;
    background:#ffffff;
}

.ktv_info .content .content_ahead_clear{
	clear:both;
}

.ktv_info .dushed_line{
    position:relative;
    top:13px;
    clear:both;
    height:1px;
    background:url('../img/line.png') repeat-x 0 0;
    background-size:250px 1px;
    -webkit-background-size:250px 1px;
    margin:0 4px;
    margin-bottom:13px;
}
.ktv_info .dushed_line .lack_ball{
    position:absolute;
    width:12px;
    height:12px;
    background:url('../img/body_bj.png') #e0ded9;
    -webkit-background-size:67px 85px;
    border-radius:12px;
    border:1px solid #bfbebb;
}
.ktv_info .dushed_line .left{
    top:-7px;
    left:-18px;
}
.ktv_info .dushed_line .right{
    top:-7px;
    right:-18px;
}
.ktv_info .dushed_line .overlay_div{
    position:absolute;
    width:8px;
    height:16px;
    background:url('../img/body_bj.png') #e0ded9;
    -webkit-background-size:67px 85px;
}
.ktv_info .dushed_line .overlay_left{
    top:-8px;
    left:-19px;
}
.ktv_info .dushed_line .overlay_right{
    top:-8px;
    right:-19px;
}


.ktv_info .content .content_info{
    font-size:15px;
    
}
.ktv_info .content .content_info .price_per{
    font-size:13px;
    clear:both;
    width:100%;
    height:40px;
    line-height:46px;
    color:#6b6b6b;
}
.ktv_info .content .content_info .price_per span{
    font-size:15px;
    color:#e5531f;
    font-weight:600;
}

.ktv_info .content .content_info .price_per span[class='black']{
    color:black;
}


.ktv_info .content .content_info .price_table{
    font-size:14px;
    border-top:1px solid #e0dfdf;
    border-left:1px solid #e0dfdf;
	overflow:hidden;
}
.ktv_info .content .content_info .price_table div{
	float:left;
    width:50%;
}
.ktv_info .content .content_info .price_table .ktv_list{
    margin:0;
    text-align:center;
    height:40px;
    line-height: 40px;
    background-color:#f3f2f1;
    border-bottom:1px solid #cac4ba;
    border-right:1px solid #e0dfdf;
}

.oril_info{position:relative;}
.orilstyle{position:absolute;left:50%;top:-9px;
        margin-left:-39px;
        background: url("../img/orilbg.png") no-repeat;
		background-size: 78px 17px;
		-webkit-background-size: 78px 17px;
        width:78px; height:17px;
}
.oril_info_box{
	position:relative;
	background-color:#fff;
	border:#c0bebb solid 1px;
	border-radius:2px;
}
.oril_type{float:left;text-align:right;width:50%;}
.oril_price{float:left;text-align:left;width:50%;}
.oril_type em{color:#333333;padding-right:8px;font-style:normal;}
.oril_price em{color:#ff0000;padding-left:8px;font-style:normal;}
.c_list{width:100%; overflow:hidden;}
.c_list li{width:50%;float:left;}
.c_list li div{border-bottom:1px solid #ddd8d1;border-right:1px solid #ddd8d1;height:40px; line-height:40px;}
.c_list li:nth-child(2n) div{border-right:none;}
.c_list li:nth-child(1) div, .c_list li:nth-child(2) div{height:42px;line-height:42px;}

.oril_info .c_list li:last-child div,.oril_info .c_list li:nth-last-of-type(2) div{border-bottom:none;}
.oril_info .from{height:34px; line-height:34px;color:#888888; text-align:right;padding-right:3px;}
.oril_info .from a{margin-right:10px;color:#888888;}
/*运动场馆 by jason.zhou*/
#venueCon {
    margin-left: 2px;
    border: none;
    border-radius:0px;
    border-left: none;
    position: relative;
    padding-bottom: 5px;
    background: transparent;
}
div.bottom-effect {
    height: 0px;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    orient: horizontal;
    -mozbox-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -webkit-box-sizing: border-box;
    z-index: -1;
    position: absolute;
    bottom: 29px;
    width: 100%;
}
div.bottom-effect div{
    height:1px;
}
div.bottom-effect div:first-child {
    box-flex: 1;
    -webkit-box-flex:1;
    -moz-box-flex: 1;
    -webkit-transform: rotate(-1deg);
    -webkit-box-shadow: 12px 3px 4px #000;
}
div.bottom-effect div:last-child {
    box-flex: 1;
    -webkit-box-flex:1;
    -moz-box-flex: 1;
    -webkit-transform: rotate(1deg);
    -webkit-box-shadow: -9px 2px 5px #000;
}
.container .venue {
    display: box;
    display: -moz-box;
    display: -webkit-box;
    orient: horizontal;
    -mozbox-box-orient: horizontal;
    -webkit-box-orient: horizontal;
}
.container .venue > div:first-child {
    width: 55px;
    background: #8b8b8f;
    margin-left: 5px;
}
.container .venue > div:first-child ul {
    position: relative;
    left: -5px;
    width: 60px;
}
.container .venue > div:first-child ul li{
    height: 51px;
    line-height: 51px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.container .venue > div:first-child ul li strong{
    height: 43px;
    width: 55px;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    font-weight: normal;
    line-height: 39px;
    position: relative;
    top: 4px;
    left: 5px;
    -webkit-box-sizing: border-box;
}
.container .venue > div:first-child ul li.selected{
    background: url("../img/venue_menu.png") no-repeat;
    background-size: 5px 51px;
    -webkit-background-size: 5px 51px;
}
.container .venue > div:first-child ul li.selected strong{
    color: #333;
    background-color: #fff;
}
.container .venue > div:last-child {
    box-flex: 1;
    -webkit-box-flex:1;
    -moz-box-flex: 1;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #d8d7d5;
    border-left: none;
}
.container .venue table {
    width: 100%;
    border-collapse: collapse;
}
.container .venue div.venue-tb2{
    border:1px solid #e5e5e5;
    border-radius:3px;
}
.container .venue div.venue-tb1{
    padding: 3px 0 3px 3px;
    margin-bottom: 5px;
}
.container .venue div.venue-tb1 li {
    width: 50%;
    display: inline-block;
}
.container .venue div.venue-tb1 li span:first-child {
    font-size: 12px;
    color: #888;
    font-weight: normal;
    text-align: left;
    width: 60px;
}
.container .venue div.venue-tb2 th{
    border-right: 1px solid #ddd8d1;
    border-bottom: 1px solid #d6d1c9;
    font-weight: normal;
    width: 50%;
}
.container .venue div.venue-tb2 th:last-child {
    border-right: none;
}
.container .venue div.venue-tb2 td{
    border-right: 1px solid #ddd8d1;
    border-bottom: 1px solid #d6d1c9;
    text-align: center;
}
.container .venue div.venue-tb2 tr td:last-child{
    color: #fe0101;
    font-size: 16px;
    border-right: none;
}
.container .venue div.venue-tb2 tr:last-child td, .container .venue div.venue-tb2 tr:last-child th{
    border-bottom: none;
}

.ota_tip_container{
	height:20px;
	overflow:hidden;
	line-height:25px;
	text-align:center;
}
.ota_tip_container b{
	display:inline-block;
	width:11px;
	height:12px;
	margin-right:3px;
	background:url('../img/ota_tip_bj.png') no-repeat 0 0;
	-webkit-background-size:11px 12px;
	background-size:11px 12px;
}
.saleGrouponCon li{
	background:url("../img/sale.png") no-repeat 0 0;background-size:28px 28px;-webkit-background-size:28px 28px
	height:39px;
}
.saleGrouponCon li a{
	position:relative;
	line-height:39px;
	padding-left:20px;
}

.rankCon li{
	margin:0;
	overflow:hidden;
	padding:10px 10px 0 10px;
	height: 49px;
}


.rankCon ul:first-child li:first-child{
	height: 64px;
	padding-left: 10px;
	padding-top: 0px;
}

.rankCon .down span:first-child{
	color: #333333;
	display: inline-block;
	margin-top: 10px;
}

.rankCon .up span:first-child{
	color: #333333;
	display: inline-block;
	margin-top: 10px;
}

.rankCon .imgStyle{
	display: inline-block;
	margin-left: 3px;
	width: 17px;
	height: 16px;
	font-size: 12px;
	text-indent: 6px;
	background: url('../img/rankImg.png') no-repeat 1px 0px;
	background-position: top center;
	background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	color: #fff;
	vertical-align: 1px;
}

.rankCon span:first-child span:first-child{
	margin-left: 3px;
	display: inline-block;
	color: #fff;
}

.rankCon .listImg{
	float: left;
	margin-right: 7px;
	font-size: 12px;
	text-indent:5px;
	color: #fff;
	line-height: 34px;
	width: 16px;
	height: 34px;
	background: url('../img/rankImg.png') no-repeat 0px 0px;
	background-size: 16px 16px;
	background-position: center;
}

.rankCon .listTitle{
	line-height: 16px;
	font-size: 16px;
	color: #333333;
}

.rankCon .pvCurrent{
	display: inline-block;
	color: #999999;
	font-size: 12px;
	margin: 9px 0 0 0;
}

.rankCon .pvOther{
	color: #999999;
	font-size: 12px;
	margin: 6px 0 0 0;
}

.rankCon .down{
	background: url('../img/down_1.png') no-repeat 0px 0px;
	background-position: center right;
	background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	height: 100%;
}

.rankCon .up{
	background: url('../img/up_1.png') no-repeat 0px 0px;
	background-position: center right;
	background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	height: 100%;
}

.rankCon li.splitLine1{
	padding: 0;
	height: 1px;
	background: url('../img/line.png') repeat-x 0 0;
	background-size: 250px 1px;
	-webkit-background-size: 250px 1px;
	margin: 0px 8px 0px 10px!important;
}
.bottom_nav{
	background:#d1cbc2;
	border:none!important;
	clear:both;
	float:none!important;
	margin:0!important;
	padding:1px 0 0;
	overflow:hidden;
}
.bottom_nav div{
	display:block;
	width:100%;
}
.bottom_nav span{
	background:#fff;
	color:#888;
	float:right;
	font-size:12px;
	width:50%;
}
.bottom_nav span:first-child{
	float:left;
	margin-left:-1px;
}
.bottom_nav a{
	display:block;
	color:#888;
	font-size:12px;
	height:32px;
	line-height:32px;
	text-align:center;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f4f0), to(#eeebe7));
}


.bottom_nav span:first-child,.bottom_nav span:first-child a{
	border-radius:0 0 0 4px;
}

.bottom_nav span:last-child,.bottom_nav span:last-child a{
	border-radius:0 0 4px 0;
}

.bottom_nav_1 span{
	width:100%!important;
}
.bottom_nav_1 span:first-child{
	margin-left:0!important;
}

.bottom_nav_1 span:first-child,.bottom_nav_1 span:first-child a{
	border-radius:0 0 4px 4px!important;
}

.vicinityShop .bottom_nav{background:none;padding:0;}
.vicinityShop .c_list div{padding-left:20px;}
.vicinityShop .c_list .icon{float:left;height:23px;width:23px; margin-top:8px;background:url('../img/shopicon.png') no-repeat 0 0;-webkit-background-size:451px 41px;background-size:451px 41px;}
.vicinityShop .c_list .text{float:left;margin-left:14px;}
.vicinityShop .c_list .fineFood{background-position:3px -20px;}
.vicinityShop .c_list .snack{background-position:-45px -20px;}
.vicinityShop .c_list .innHotel{background-position:-94px -20px;}
.vicinityShop .c_list .starHotel{background-position:-141px -20px;}
.vicinityShop .c_list .busStation{background-position:2px 2px;}
.vicinityShop .c_list .bank{background-position:-237px 3px;margin-top:7px;}

.vicinityShop .c_list .shop{background-position:-430px -20px;padding:0;}
.vicinityShop .c_list .hospital{background:url('../img/shopicon_hospital.png') no-repeat 2px 3px;-webkit-background-size:18px 18px;background-size:18px 18px;}
.vicinityShop .c_list .market{background-position:-142px 4px;}
/*begin 购物信息*/
#floorCon {
    display: -webkit-box;
    display: box;
    -webkit-box-sizing: border-box;
    orient: horizontal;
    -webkit-box-orient: horizontal;
}
.floor a {
    color: #333;
    margin-right: 10px;
    height: 39px;
    line-height: 39px;
    display: block;
    box-flex: 1;
    -webkit-box-flex:1;
}
.floor img.iconfloor {
    background: no-repeat url('../img/icon_floor.png') 0px 0px;
    -webkit-background-size: 19px 18px;
    background-size: 19px 18px;
    width: 19px;
    height: 18px;
    vertical-align: middle;
    margin: 0 8px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    margin-top: 10px;
    display: block;
}
/*theatre by jgd*/
.theatreCon .theatre_nothing{
	padding:20px 0;
	background:white;
	text-align:center;
}
.theatreCon .box_3{border-bottom:1px solid #f2f2f2}
#theatre_info_con{
    overflow:hidden;
}
.theatre_wrapper{
	border-top-left-radius:3px;
	border-top-right-radius:3px;
    background:url("../img/daimaibg.png") repeat-x 0 0;
	background-size: 5px 100px;
	-webkit-background-size: 5px 100px;
}
.theatre_pic_list{
	overflow:hidden;
}
.theatre_pic_list li{
	float:left;
	padding:8px 0;
	margin-right:7px;
	width:69px;
	height:84px;
}
.theatre_pic_list img{
	float:left;
	width:69px;
	height:84px;
}

.theatre_info_list_con{
	position:relative;
	background:white;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.theatre_info_list_con .theatre_tick_btn{
    width:100%;
    border-top:1px solid #f2f2f2;
	clear:both;
	margin:0;
	overflow:hidden;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.theatre_info_list_con .theatre_tick_btn span{display:block;width:50%;float:left;}
.theatre_info_list_con .theatre_tick_btn span.btn_left a{border-right:1px solid #f6f6f6;}
.theatre_info_list_con .theatre_tick_btn span.btn_right a{border-left:1px solid #fdfdfd;}
.theatre_info_list_con a{
    display:block;
    color:#3a9200;
    font-size:14px;
    height:36px;
    line-height:36px;
    text-align:center;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbfbfb), to(#ededed));
}

.damai_icon{
	background:url("../img/damai.png") no-repeat 0 0;
	display:inline-block;
	width:20px;
	height:20px;
	margin-right: 10px;
	margin-bottom: -4px;
	background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
}

.theatre_info_list_con .theatre_tick_btn span.btn_right .damai_icon{
	background:url("../img/tel_btn_1.png") no-repeat 0 0;
	display:inline-block;
	width:20px;
	height:20px;
	margin-right: 10px;
	margin-bottom: -4px;
	background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
}

.theatre_info_list{
	padding:12px 12px 6px;
}
.theatre_info_list span{
	color:#666;
}
.theatre_info_list .theatre_title{
	font-size:16px;
	line-height:20px;
	font-weight:700;
	color:#333333;	
}
.theatre_info_list .theatre_sub_head{
	font-size:12px;
	color:#666666;
	padding-top:6px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.theatre_info_list .theatre_show_time{
	font-size:12px;
	color:#333333;
	font-weight:700;
	padding-top:16px;
}
.theatre_info_list .theatre_show_time span{
	font-size:14px;
	font-weight:100;
	color:#666666;
}
.theatre_info_list .theatre_price{
    font-size:14px;
	font-weight:700;
	color:#fe0101;
	padding-top:6px;
}
.theatre_info_list .theatre_price span{
	font-size:14px;
	font-weight:100;
	color:#666666;
}



.theatre_info_list_con .cur_theatre_point{
	position:absolute;
	left:50%;
	top:-8px;
	width:182px;
	height:8px;
	margin-left:-91px;
	background:url('../img/cur_theatre_bg.png') no-repeat 0 0;
	background-size:182px 8px;
	-webkit-background-size:182px 8px;
}
.container.saleGrouponCon ul {
    border-bottom:#d6d1c9 solid 1px;
}
.container.saleGrouponCon ul:last-child {
    border:none;
}
/*实时动态*/
.realtime {
    background-color: #fff;
    border: #c0bfbc solid 1px;
    border-radius: 4px;
    overflow: hidden;
}
.realtime ul.realtime-pic-list li {
    border: 1px solid #cfcfcf;
    background-color: #fff;
    padding: 2px;
    margin: 0 5px;
    display: -webkit-box;
    display: box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 50px;
    height: 50px;
}
.realtime ul.realtime-pic-list img {
    height: 44px;
    width: 44px;
}
.realtime-list {
    background: #E6E6E6;
    overflow: hidden;
    padding: 7px;
}
.realtime-list ul {
    background: #e6e6e6;
    overflow: hidden;
}
.realtime .realtime-detail {
    padding: 7px 12px 12px;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}
.realtime .realtime-detail dl {
    margin: 0;
    padding: 0;
}
.realtime .realtime-detail dt span {
    margin-right:14px;
    color: #666;
}
.realtime .realtime-detail dd {
    color: #333;
    margin: 0;
    padding-top: 5px;
}
.timeclock {
    background: no-repeat url('../img/bg_clock.png') 0px 0px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: -2px 4px 0;
}
.arrow-down {
    position: absolute;
    width: 135px;
    height: 7px;
    background: url('../img/arrow_down.png') no-repeat 0 0;
    background-size: 135px 7px;
    -webkit-background-size: 135px 7px;
    bottom: -7px;
    left: 50%;
    margin-left: -67px;
}

.viewSpotPro .bottom_nav{background:none;padding:0;}
.viewSpotPro .c_list div{padding-left:19px;padding-right:20px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f1f0f0));}
.viewSpotPro .c_list li:nth-child(4n-1) div,.viewSpotPro .c_list li:nth-child(4n) div{background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefdfd), to(#f7f6f6));}
.viewSpotPro .c_list div a{display:block;color:#595959;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.viewSpotSitePro .box{padding:5px 8px; line-height:160%;}
.viewSpotPrice .box{padding:5px 8px;line-height:160%;}


.viewStrategy li{padding-bottom:5px;margin:0 6px;background:url('../img/line.png') repeat-x 0 bottom;
	background-size:250px 1px;
	-webkit-background-size:250px 1px;}
.viewStrategy li:last-child{padding-bottom:5px;margin:0 6px;background:none;}
.viewStrategy li div{padding:0px 2px 0px 2px;}
.viewStrategy li div:nth-child(1){padding-top:5px;}
.viewStrategy .tit{height:20px;color:#e5531f;margin-top:7px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.viewStrategy .line{height:20px; color:#858585;padding-top:3px;font-size:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.viewStrategy .content{line-height:165%;}
.viewStrategy .content a{font-size:12px;display:inline-block; margin-left:5px;color:#4174D9}
.viewStrategy .classify{height:20px;line-height:20px;padding-bottom:2px;overflow:hidden;}
.viewStrategy .classify span{background:url('../img/viewspot_icon.png') no-repeat 0 0;-webkit-background-size:17px 92px;background-size:17px 92px; margin-right:34px;padding-left:16px;}
.viewStrategy .classify span.price{background-position:-1px 0;padding-left:12px;}
.viewStrategy .classify span.time{background-position:-1px -42px;}
.viewStrategy .classify span.days{background-position:-1px -76px;}
.viewStrategy .link{text-align:right;color:#666666;font-size:12px;clear:both;}
.viewStrategy .release_time{margin-left:5px;}

.kongBtn{width:5px; height:12px;display:inline-block;}
.showBtn, .hiddenBtn{width:62px; height:21px;display:block;float:right; margin-bottom:8px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f4f0), to(#eeebe7));border:#d6d1c8 solid 1px;border-radius:10px;line-height:22px;font-size:12px;color:#a69f94;padding-left:8px;}
.showBtn span{display:inline-block;width:7px;height:4px;background-image:url('../img/showbtnicon.png');-webkit-background-size:7px 4px;background-size:7px 4px;vertical-align: 2px;margin-left: 2px;}
.hiddenBtn span{display:inline-block;width:7px;height:4px;background-image:url('../img/hiddenbtnicon.png');-webkit-background-size:7px 4px;background-size:7px 4px;vertical-align: 2px;margin-left: 2px;}
/*折扣入口*/
.list .rebate_css {
    background: url("../img/icon_rebate.png") no-repeat 0 0;
    background-size: 28px 28px!important;
    -webkit-background-size: 28px 28px!important;
}
.rebate_css .num_con {
    background: #f65b8e;
    color: #fff;
}
.recommendCon{
    padding:5px;
	overflow:hidden;
}
.recommendCon .dish_item{
    float:left;
    width:33.33333%;
    overflow:hidden;
}
.recommendCon .dish_item .dish_item_inner{
    padding:0px 5px 15px;
    position:relative;
}
.recommendCon .dish_item .dish_item_inner .shadow_box{
    height:2px;
    margin-top:-3px; 
    width:88%;
    left:6%;
    box-shadow:0px 2px 3px #bfbbb8;
    position:absolute;
    z-index:2;
}
.recommendCon .dish_item .dish_item_inner li{
    padding:3px 3px 0 3px;
    border:1px solid #b3b2b0;
    background:white;
    position:relative;
    z-index:100;
}

.recommendCon .dish_item .dish_item_inner li .dish_image{
    width:100%;
    height:106px;
    overflow:hidden;
    position:relative;
}
.recommendCon .dish_item .dish_item_inner li .commodity_name{
    font-size:12px;
    height:25px;
    line-height:25px;
}
.recommendCon .dish_item .dish_item_inner li .dish_image .dish_absolute{
    font-size:10px;
    color:white;
    line-height:17px;
    position:absolute;
    right:0;
    width:32px;
    height:17px;
    background:-webkit-gradient(linear, 0 0 ,0 100%,from(#e92c0e), to(#c51c00));
    text-align:center;
    border-radius:8px;
    margin-top:2px;
    margin-right:2px;
    box-shadow:0px 2px 5px #000;
}

.recommendinfoCon{
    margin:0;
    padding:0;
    padding-bottom:0;
    padding-top:0;
}
.recommendinfoCon .dish_item{
    float:left;
    overflow:hidden;
}
.recommendinfoCon .dish_item .dish_item_inner{
    position:relative;
}

.recommendinfoCon .dish_item .dish_item_inner li{
}
.recommendinfoCon .dish_item .dish_item_inner li .dish_image{
    overflow:hidden;
    position:relative;
    margin:auto;
}
.recommendinfoCon .dish_item .dish_item_inner li .dish_image img{
    margin:auto;
}
.recommendinfoCon .dish_item .dish_item_inner li .commodity_name{
    font-size:16px;
    height:56px;
    line-height:56px;
    float:left;
    color:#666666;
    font-weight:700;
    padding-left:4px;
}
.recommendinfoCon .wrapper_dish{
	position:relative;
	overflow:hidden;
}
.recommendinfoCon .dish_pic_list_con{
	padding-left:0px;
}
.recommendinfo_subinfo{
    position:absolute;
    bottom:0;
    width:100%;
    line-height:36px;
    text-indent:13px;
    z-index:2;
    font-size:12px;
    font-weight:300;
    color:#494c58;
    background:url('../img/body_bj.png');
}
.clear_both{
	clear:both;
}

.con1 li.shop_icon{
    border-top:1px solid #acacac;
}
.con1 li.shop_icon a{
	display:block;
}
.con1 li.shop_icon:nth-child(1){
    border-top:0;
}

.pic_btn_bottom{
	position:absolute;
    bottom:0;
    width:100%;
    line-height:36px;
    text-indent:13px;
    z-index:2;
    font-size:12px;
    font-weight:300;
    color:#494c58;
    background:url('../img/body_bj.png');
    opacity:0.8;
}
.pic_btn_bottom .pic_btn_bottom_con .pic_btn_bottom_num{
    margin-right:13px;
    color:#898b93;
    float:right;
}

.pic_btn_bottom .pic_btn_bottom_con .pic_btn_bottom_from{
    padding: 5px 0px 3px 30px;
    font-weight:300;
    margin-left: 3px;
}
.pic_btn_bottom .pic_btn_bottom_con {
    border-radius:2px;
    margin:0 0px;
    opacity: 0.85;
}
.pic_btn_bottom .pic_btn_bottom_con .log_icon{
    background-position:0 center;
}
.pic_btn_bottom .pic_user_info .pic_user_info_sub1 .pic_user_name{
    float:left;
    font-size:14px;
}
.pic_btn_bottom .pic_user_info .pic_user_info_sub1 .pic_user_mark{
    float:right;
    color:#898b93;
    padding-right:13px;
    padding-left:12px;
}

.pic_btn_bottom .pic_user_info .pic_user_info_sub2{
    position:relative;
}
.pic_btn_bottom .pic_user_info .pic_user_info_sub2 .spit_line{
    border-top:1px solid #c3c4c6;
    height:1px;
    clear:both;
    margin:0 7px;
    background:-webkit-gradient(linear, 0 0 ,100% 100%,from(#ebebeb), to(#ededee));
}
.pic_btn_bottom .pic_user_info .pic_user_info_sub2 .pic_user_comment{
    margin-top:7px;
    line-height:16px;
    text-indent:0px;
    margin-left:13px;
    margin-right:13px;
    font-size:14px;
}
.pic_btn_bottom .pic_user_info .pic_user_info_sub2 .pic_user_price{
    float:none;
}
.pic_btn_bottom .pic_user_info .pic_user_info_sub2 .change_control_icon{
    width:20px;
    height:20px;
    position:absolute;
    bottom:3px;
    right:15px;
}


/*电影院*/
.movie_yd .mv_lef_lin{
	background:#fefef6;
	border-right:#eceae3 solid 1px;
	border-top:#eceae3 solid 1px;
}
.movie_yd .mv_lef_lin a{
	background:url('../img/movie-yd2.png') no-repeat 5px center;
	background-size:6px 7px;
	display:block;
	height:100%;
	overflow:hidden;
}
.movie_yd .mv_lef_lin b{
	margin-left:5px;
	color:#fe0101;
}


.movie_bnyd .mv_lef_lin{
	background:#fffef6 !important;
    padding-right:5px;
	
}
.movie_bnyd .mv_time,.movie_bnyd .mv_lang{
	font-weight:100;
    float:left;
    width:50%;
    height:39px;
    line-height:39px;
	white-space:nowrap;
	overflow:hidden;
    }

.movie_info_list2 .mv_time{
	font-size:20px;
	color:#fe9e01;
    text-indent:10px;

}

.movie_bnyd .mv_lef_lin b{
	color:#a7a7a7;
}

.movie_bnyd .mv_lef_lin_null{
	background:none !important;
}

.movie_list_bot_lef{
	border-radius:0 0 0 4px;
}

.movie_list_bot_rig{
	border-radius:0 0 4px 0;
}
.hotel_ota .otaBar{background:#f6f4f0;height:24px;line-height:25px;border-bottom:1px solid #c6c3bf;color:#8f8f8f;padding:9px 0px 10px 10px; overflow:hidden;font-size:12px;border-top-left-radius:4px;border-top-right-radius:4px;}

.android .hotel_ota .otaBar em{height:18px;line-height:18px;padding-top:6px;}

.hotel_ota .otaBar em,.hotel_ota .otaBar span{float:left;font-style:normal;}
.hotel_ota .ota_date{height:24px;border:1px solid #b1b1b1;background:-webkit-gradient(linear, 0 0 ,0 100%,from(#f9f9f9), to(#efefef));border-radius:2px;width:95px;margin:0 10px 0 5px;}
#ota_search{width:40px;text-align:center;margin-left:0;}
.hotel_ota .otaBar .arrow{padding:0 11px 0 8px;background:url("../img/comm_down_icon.png") no-repeat;
    background-size:8px 5px;
    -webkit-background-size:8px 5px;
    background-position:80px center;
	height:18px;
    padding-top:6px;
    line-height:16px;
	width:75px; font-size:12px;
}

.iphone .hotel_ota .otaBar .arrow{
	height:24px;
    padding-top:0px;
    line-height:24px;
}

#ota_List{min-height:40px;}
.goto_icon_down{
	display:inline-block;
	background:url("../img/goto_d_1.png") no-repeat;
    background-size:9px 6px;
    -webkit-background-size:9px 6px;
	width:9px;
	height:7px;
	margin-left:5px;
	}
.goto_icon_up{
	display:inline-block;
	background:url("../img/goto_up_1.png") no-repeat;
    background-size:9px 6px;
    -webkit-background-size:9px 6px;
	width:9px;
	height:7px;
	margin-left:5px;
	}
	
	
.hotel_ota li{position:relative;padding:0 128px 0 10px;border-bottom:1px solid #d6d1c9; height:48px; line-height:48px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.hotel_ota li:last-child{border:none;}
.hotel_ota li div{position:absolute;right:7px;top:0;}
.hotel_ota li div em{font-style:normal;font-size:12px;color:#fe0101;font-weight:normal;}
.hotel_ota li div .price{color:#fe0101;}
.hotel_ota li div .price_inf{color:#8F8F8F;font-size:12px;padding-left:3px;}
.hotel_ota li div .btn_1{display:inline-block;width:58px; height:25px; border:1px solid #f3cb95;border-radius:4px;font-size:13px; line-height:25px;text-align:center;color:#c16c20;background:-webkit-gradient(linear, 0 0 ,0 100%,from(#ffdfae), to(#fed390));margin-left:15px;font-weight:bold;position:relative;}
.hotel_ota li div .btn_3{display:inline-block;width:58px; height:25px; border:1px solid #cfcbcb;border-radius:4px;font-size:13px; line-height:25px;text-align:center;color:#635959;background:-webkit-gradient(linear, 0 0 ,0 100%,from(#f7f6f6), to(#f2f1f1));margin-left:15px;font-weight:bold;position:relative;}

.wcalBox{position:absolute;z-index:100;width:100%;border-top:1px solid #b5b5b5;border-bottom:1px solid #b5b5b5;}
table.op_cal{background:#F8F8F8;width:100%;}
.op_btn_pre_month,.op_btn_next_month{width:50px;height:30px;background:url("../img/ota_icon.png") no-repeat;overflow:hidden;background-size:13px 90px;-webkit-background-size:13px 90px;}
.op_btn_pre_month{float:left;margin:2px 0 0 3px;background-position:17px 6px;}
.op_btn_next_month{float:right;margin:2px 3px 0 0;background-position:22px -67px;}
table.op_cal .op_mon{float:left;width:100%;display:inline;}
.op_mon_pre1 .op_mon{border-left:none;}
table.op_cal td{text-align:center;cursor:pointer;font-size:16px;font-weight:bold;height:42px;padding:0;}
table.op_cal .op_mon th{text-align:center;font-size:14px;background:#f2f0f0;padding:5px 0;}
table.op_cal .op_mon h5{margin:0;padding:0;text-align:center;line-height:35px;height:35px;overflow:hidden;font-size:14px;background:-webkit-gradient(linear, 0 0 ,0 100%,from(#f6f6f7), to(#e0dfe4));}
table.op_cal .op_mon td.op_mon_pre_month{color:#999;}
table.op_cal .op_mon td.op_mon_cur_month{color:#5f6a77;}
table.op_cal .op_mon td.op_mon_next_month{color:#999;}
table.op_cal .op_mon td.op_mon_day_selected{color:#acacac;}
table.op_cal .op_mon td.op_mon_day_disabled{cursor:not-allowed;color:#ddd;}
table.op_cal .op_mon td.op_mon_today{color:red;}
table.op_cal .op_mon td.op_mon_day_hover{background:#eb4f03;color:#fff;}
table.op_cal .op_mon td.op_cell_seledted{background:#3977d2;color:#fff;}
.ota_data_loading{padding-top:10px;text-align:center;line-height:20px;}
.ota_data_loading span{color:#888888;margin-right:10px;}
.ota_data_loading img{vertical-align:-4px;}



.bookTelOrder{
	padding:0 2px;
}
.bookTelOrder .bookOnline{
	width:50%;
	float:left;
	margin-left:-2px;
}
.bookTelOrder .teleOrder{
	width:50%;
	float:right;
	margin-right:-2px;
}
.order_tel_icon span{
	background:url(../img/tel_btn_1.png) no-repeat 0 0;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
}

.movie_nav_title_con{
	color:#4d4d4d;
	font-size:16px;
	line-height:35px;
	height:35px;
	border:#a3a3a3 solid 1px;	
	border-bottom:#a4a4a4 solid 1px;	
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f6f6), to(#e7e4e4));
	border-radius:4px 4px 0 0;
	
}
.movie_nav_title_icon{
	padding:9px 17px;
	background:url('../img/movie_title_bg.png') no-repeat 10px 9px;
	background-size:18px 19px;
	background-size:18px 19px;
	-webkit-background-size:18px 19px;
}
.movie_nav_title_new{
	margin-left:3px;
	padding:9px 20px;
	background:url('../img/new.png') no-repeat 0 4px;
	background-size:32px 17px;
	-webkit-background-size:32px 17px;
}

.viewSpotTicket li{position:relative;padding:12px 160px 12px 13px;line-height:20px;border-bottom:1px solid #d4d4d4;color:#333;}
.viewSpotTicket li:last-child{border:none;} 
.viewSpotTicket li div{position:absolute;width:150px;overflow:hidden;right:0;height:27px;top:8px; text-align:right;padding-right:10px;padding-bottom:8px;}
.viewSpotTicket li .price{color:#e5531f;font-size:18px;display:inline-block;}
.viewSpotTicket li .price em{font-size:12px;font-style:normal;}
.viewSpotTicket li .orign_price{font-size:12px;font-style:normal;margin-left:2px;display:inline-block;color:#999;}
.viewSpotTicket li .btn{display:inline-block;width:58px; height:25px; border:1px solid #f3cb95;border-radius:4px;font-size:13px; line-height:25px;text-align:center;color:#c16c20;background:-webkit-gradient(linear, 0 0 ,0 100%,from(#ffdfae), to(#fed390));margin-left:15px;font-weight:bold;position:relative;}
.hotel_ota li div .btn_3{display:inline-block;width:58px; height:25px; border:1px solid #cfcbcb;border-radius:4px;font-size:13px; line-height:25px;text-align:center;color:#635959;background:-webkit-gradient(linear, 0 0 ,0 100%,from(#f7f6f6), to(#f2f1f1));margin-left:15px;font-weight:bold;}

.viewSpotTicket li .btn span{}
.box_4 a.fantongTelS{text-align:left;padding-left:15px!important}
.tongchengC{padding:10px 10px;}
.tongchengC .tit{font-size:16px;text-align:center;width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-family:"黑体";color:#333333;}
.tongchengC .td_img{padding-right:16px; text-align:left;height:145px;overflow:hidden;vertical-align: middle;}
.tongchengC .td_img .imgBox{width:98px;height:142px;border:1px solid #d6d6d6;padding:2px;border-radius:2px;-webkit-box-shadow:0 0 3px #bbb9b9;}
.tongchengC .td_img .imgBox div{width:98px;height:142px;overflow:hidden;}
.tongchengC .td_text{vertical-align:top; padding-top:10px;padding-right:10px;}
.tongchengC .td_text p{ line-height:26px;background: url("../img/tong_icon.png") no-repeat 0 0;background-size: 15px 153px;-webkit-background-size: 15px 202px;padding-left:22px;margin-bottom:6px;}
.tongchengC .td_text p.date{background-position:left -50px;line-height:22px;max-height:43px;overflow:hidden;padding-bottom:5px;}
.tongchengC .td_text p.price{background-position:left -168px;height:26px;overflow:hidden;}
.tongchengC .td_text p.type{background-position:left -101px;height:26px;overflow:hidden;}
.tongchengC .td_text p.zhubanfang{background-position:left -128px;height:26px;overflow:hidden;}


.tongchengC table{border:none;padding:0;margin-top:5px;}

.tongchengC .join{
    text-align:center;
	background:url('../img/line.png') repeat-x 0 top;
	background-size:250px 1px;
	-webkit-background-size:250px 1px;
	margin-top:8px;padding-top:10px;
    white-space:nowrap;text-overflow:ellipsis;overflow:hidden;
}
.tongchengC .join em{font-style:normal;font-weight:normal;color:#ff7f0d;margin-right:2px; line-height:16px;height:16px;}
.tongchengC .join span{margin:0 5px;color:#333;}
.tongchengC .join span.line{color:#b3b3b3;}

#myShop{padding-bottom:15px;}
.myShop{}
.myShop .myShopBox{display:block;height:37px;line-height:40px;padding-left:38px;background:url('../img/myshop.png') no-repeat 13px 9px ;
	background-size:17px 22px;
	-webkit-background-size:17px 22px;
    color:#595959;
}
